SelfBuff(
    buildup_duration: 0.6,
    cast_duration: 0.2,
    recover_duration: 0.4,
    buffs: [],
    energy_cost: 83,
    meta: (school: Some(Axiomancy), subschool: Some(Chronomancy), form: Some(Divination), source: Some(Arcane), cooldown: Some(45.0)),
)
