Shockwave(
    energy_cost: 116,
    buildup_duration: 0.75,
    swing_duration: 0.4,
    recover_duration: 0.5,
    damage: 56.0,
    poise_damage: 15,
    knockback: (strength: 8.0, direction: Away),
    shockwave_angle: 90.0,
    shockwave_vertical_angle: 45.0,
    shockwave_speed: 25.0,
    shockwave_duration: 0.5,
    dodgeable: Jump,
    move_efficiency: 0.1,
    damage_kind: Slashing,
    specifier: Ground,
    ori_rate: 1.0,
    timing: PostBuildup,
    emit_outcome: true,
    meta: (school: Some(Hemomancy), form: Some(Evocation), source: Some(Arcane), cooldown: Some(20.0), hp_cost: Some(7.0)),
)
