BasicMelee(
    energy_cost: 0,
    buildup_duration: 0.45,
    swing_duration: 0.1,
    hit_timing: 0.5,
    recover_duration: 0.35,
    melee_constructor: (
        kind: Stab(damage: 12, poise: 5, knockback: 0, energy_regen: 0),
        range: 3.0,
        angle: 20.0,
    ),
    meta: (school: Some(Hemomancy), form: Some(Necromancy), source: Some(Arcane), hp_cost: Some(2.0)),
)
