BasicBeam(
    buildup_duration: 0.5,
    recover_duration: 0.45,
    beam_duration: 4,
    damage: 14.0,
    tick_rate: 3.0,
    range: 30.0,
    max_angle: 5.0,
    damage_effect: Some(Lifesteal(0.3)),
    energy_regen: 0,
    energy_drain: 137,
    move_efficiency: 0.3,
    ori_rate: 0.3,
    specifier: LifestealBeam,
    meta: (school: Some(Hemomancy), form: Some(Necromancy), source: Some(Arcane), cooldown: Some(24.0), hp_cost: Some(9.0)),
)
