[
    (
        id: "spells.evocation.shatterburst",
        name_i18n: "spell-shatterburst",
        level: 3,
        school: Some(Evocation),
        source: Arcane,
        classes: [Mage],
        cast_time: Action,
        duration: Instant,
        range: Meters(30.0),
        aoe: Some(Sphere(6.0)),
        description_i18n: "spell-shatterburst-desc",
        ability: "common.abilities.spells.ruin.shatterburst",
    ),
    (
        id: "spells.necromancy.dread_whisper",
        name_i18n: "spell-dread_whisper",
        level: 2,
        school: Some(Necromancy),
        source: Arcane,
        classes: [Mage],
        cast_time: Action,
        duration: Secs(4.0),
        range: Meters(20.0),
        aoe: Some(Sphere(2.0)),
        description_i18n: "spell-dread_whisper-desc",
        ability: "common.abilities.spells.hollow.dread_whisper",
    ),
    (
        id: "spells.enchantment.censure",
        name_i18n: "spell-censure",
        level: 1,
        school: Some(Enchantment),
        source: Divine,
        classes: [Cleric],
        cast_time: Action,
        duration: Secs(5.0),
        range: Meters(20.0),
        aoe: None,
        description_i18n: "spell-censure-desc",
        ability: "common.abilities.spells.gravesong.censure",
    ),
]
